body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
  }

.contenedor-principal{
    background-color: #ddd;
    width:60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
  
  #formulario-tarea {
    margin-bottom: 20px;
  }
  
  #lista {
    list-style-type: none;
    padding: 0;
  }

  #tarea{
    background-color: #fff;
    border: 1px solid black;
    padding:  10px 20px;
    border-radius: 20px;
  }
  #boton{
    background-color: #fff;
    border: 1px solid black;
    padding:  10px 20px;
    border-radius: 20px;
  }
  
  li {
    padding: 10px;
    border: 1px solid #fff;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .completed {
    text-decoration: line-through;
    color: gray;
  }
  
  button.complete, button.delete {
    margin-left: 10px;
  }
  